aniso8601==8.0.0
appdirs==1.4.3
attrs==19.3.0
cached-property==1.5.1
certifi==2019.11.28
cffi==1.14.1
chardet==3.0.4
Click==7.0
defusedxml==0.6.0
Flask==1.1.2
Flask-RESTful==0.3.8
gevent==20.6.2
greenlet==0.4.16
gunicorn==20.0.4
idna==2.6
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.2
lxml==4.6.2
MarkupSafe==1.1.1
osm2geojson==0.1.28
psycopg2-binary==2.8.5
pycparser==2.20
pyproj==2.6.1.post1
pytz==2019.3
requests==2.24.0
requests-toolbelt==0.9.1
Shapely==1.7.1
six==1.13.0
urllib3==1.24.2
Werkzeug==0.16.0
zeep==3.4.0
zope.event==4.4
zope.interface==5.1.0
b2==2.4.0
